.n2751884 {
    position:absolute;
    top:80px;
    height:500px;
    width:200px;
    left:11.444444444445269%;
    right:10.111111111111311%;
}
.n8088360 {
    left:4px;
    top:88px;
}
.n4377436 {
    left:2px;
    top:7px;
}
.n594049 {
    left:0px;
    top:0px;
}
