.n2751884 {
    position:relative;
    top:0px;
    height:500px;
    width:200px;
    left:10%;
    border: 5px solid white;
    padding:  5px;
}
.n8088360 {
    left:4px;
    top:88px;
}
.n4377436 {
    left:2px;
    top:7px;
}
.n594049 {
    left:0px;
    top:0px;
}
