<div class="n4377436">
    <div>
        <div>
            <div>test b</div>
            <div class="n2751884" style="font-family:'comic sans ms'; color:white; font-weight:100">
                Thez bes button
            </div>
            <div>test a</div>
        </div>
    </div>
    <svg version="1.1" width="40" height="40">
        <rect width="40" height="40" fill="#cc0000"></rect>
    </svg>
    <style>
        button, div {
            border: 1px solid black;
            background-color:rgba(0,128,0,1);
            height:50px;
        }

        .n2751884 {
            display:block;
        }

        @media(min-width: 380px){
            div {
                background-color: red;
                height:20px;
            }
        }

        @media(min-width: 400px){
            div {
                background-color: blue;
                height:100px;
                position: absolute;
            }
        }

    </style>
    <style url="./css/test.css"></style>
    <div class="n8088360">
        text ((test1))
        <input type="text" value="((test1))" class="n702606 n7013584 n1271045 n594049 n6581743">
    </div>
</div>
