@import url("./ui_components/main.css");
@import url("./css.ui.css");
body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: arial;
    user-select: none;
}

iframe {
    border: solid 0px black;
}

button{
    border:none;
    box-shadow: none;
}
.cursor_pointer{
    width: 20px;
    height:20px;
    position:  absolute;
    top:0;
    left:0;
    background-color: pink;

    user-select: none;
    pointer-events: none;
    z-index: 10000;
}

/**************** Master Component *********************/
#master_component{
    position: absolute;
    left:0;
    top:0;
    overflow: visible;

}

.menu_item {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 38px;
    padding: 5px;
    margin: 1px;
    background-color: white;
    box-shadow: 2px 2px 8px black;
    border-radius: 20px;
}

#main_menu {
    width: 50vw;
    position: absolute;
    left: 25vw;
    right: 25vw;
    height: 50px;
    top: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

#main_menu[show=true] {
    display: block;
}

#main_menu[show=false] {
    display: none;
}

#main_view {
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    transform: translateZ(0);
    background-color: red;
}

#ui_group {
    position: absolute;
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
}

.flame_ui_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    user-select: none;
    pointer-events: none;
}

.flame_component {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 2px;
    background-color: white;
    border: 2px solid black;
}
.flame_component_background {
    top:-1px;
    left:-1px;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid #DDDDDD;
    z-index: -100;
}

.flame_component_name {
    position: absolute;
    top: -20px;
    left: 0;
}

.flame_component_dimensions {
    position: absolute;
    top: -20px;
    right: 0;
}

/***** UI COMPONENT ******/

.widget_component{
    position: fixed;
    top:0;
    left:0;
    width:0;
    height:0;
    background-color: rgba(256,120,52,0.03);
}

