<w-s component="color-picker" model="settings" #menu="main" export="load" element="div" class="flame_ui_panel">
    <div badge="icon" class="menu_item" onclick="((load)(`test`))" onpointerup="((load)(`test`))" style="display:none">
        COLOR
    </div>
    <div id="main">
    </div>
    <canvas width="150" height="150" onmousedown="((down)())" badge="color_field">
    </canvas>
    <span>
        R
        <input type="number" value="((r))">
    </span>
    <span>
        G
        <input type="number" value="((g))">
    </span>
    <span>
        B
        <input type="number" value="((b))">
    </span>
    <span>
        A
        <input type="number" value="((a))" min="0 max=1">
    </span>
    <button onclick="((bg)())">
        background
    </button>
    <button onclick="((col)())">
        color
    </button>
</w-s>
